/*responsive css start*/
.mobile-block {
  display: none; 
}

@media (max-width: 1200px) {
        
}

@media (max-width: 992px) {

}

@media all and (max-width: 768px) {
    .hero-text p {
        color: #00144D;
        font-weight: 600;
    }
    .benefits-area {
        padding-bottom: 120px;
    }
    .benefit-area-photo {
        margin-top: 42px;
    }
     ul.speciality-list li {
        width: 100%;
        float: none;
    }
    .pricing-body .box-btn {
        position: static;
        left: auto;
        transform: translateX(0); 
        bottom: auto; 
        width: auto; 
        margin: 0 auto; 
    }
    .single-counter {
        margin: 30px 0;
    }
    .footer-widget.footer-about {
        text-align: center;
        margin-bottom: 75px;
    }
}

@media (max-width: 767px) {
    .hero-text h2 {
        font-size: 32px;
    }
    .hero-text p {
        font-size: 17px;
    }
    .area-title h2 {
        font-size: 25px;
    }
    .benefit-area-photo {
        display: none;
    }
    .contact-form {
        padding: 65px 35px;
    }
    .footer-widget.newsletter {
        margin-top: 60px;
    }
}
/*# sourceMappingURL=responsive.css.map */
/*responsive css end*/