@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');
/*
fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
/*base css start*/
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.9;
    color: #787878;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

a,
button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    outline: medium none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}

a:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    color: #FF61AC;
    text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000000;
    text-transform: normal;
    margin: 0 0 15px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

ul.has-li-inline li {
    display: inline-block;
}

p:last-child {
    margin-bottom: 0;
}

.slick-slide img {
    display: inline-block;
}

.owl-item img {
    width: auto !important;
    display: inline-block !important;
    margin: 0 auto;
}

strong {
    color: #000;
}

.bg-img {
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg-img-tr {
    width: 100%;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
}

.bg-soft-red {
    background: #FFECF5;
}

.bg-gray {
    background-color: #F2F5FF;
}

.pd-t-120 {
    padding-top: 120px;
}

.pd-b-120 {
    padding-bottom: 120px;
}

.pd-tb-120 {
    padding: 120px 0;
}

.area-title {
    margin-bottom: 75px;
}

.area-title h2 {
    font-size: 32px;
    font-weight: 600;
    color: #00144D;
}

.box-btn {
    background: #648DFF;
    color: #fff;
    padding: 11px 60px;
    text-transform: capitalize;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

.box-btn.big-btn {
    padding: 15px 35px 13px;
}

.box-btn:hover {
    color: #f1f1f1;
}

.inline-btn {
    display: inline-block;
    color: #648DFF;
}

*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

*::placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}
/*base css end*/
































/*header start*/
.header-area {
    position: relative;
    padding: 25px 0;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    transition: all 0.3s ease-out;
}

.main-menu a {
    font-weight: 600;
    color: #000;
    padding: 8px 17px;
}
.header-area.sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    padding: 10px 0;
    background-color: #fff;
    transition: all 0.3s ease-out;
}
.mean-container a.meanmenu-reveal {
    margin-top: -13px;
}
nav.mean-nav {
    position: absolute;
    top: 13px;
}
/*header end*/


/*hero start*/
.single-hero {
    height: 768px;
    width: 100%;
}

.hero-text span {
    display: block;
    color: #648DFF;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero-text h2 {
    font-size: 50px;
    font-weight: 600;
    color: #00144D;
    margin-bottom: 20px;
}

.hero-text p {
    color: #787878;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 20px;
}
/*hero end*/


/*benefit start*/
.single-benefit {
    padding-top: 30px;
    margin-top: 20px;
}
.benefit-icon-image {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto 25px;
}

.single-benefit h3 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 18px;
}

.benefit-area-photo {
    margin-top: 95px;
}
/*benefit end*/

/*about start*/
ul.speciality-list li {
    margin: 20px 0;
    width: 50%;
    display: block;
    float: left;
}
/*about end*/

/*service start*/
.single-service {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
    margin: 15px 0;
}
.service-content {
    padding: 30px;
}
.service-content h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.service-thumb {
    border-radius: 30px;
    overflow: hidden;
}
/*service end*/

/*pricing start*/
.single-pricing-box {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px #ccc;
    position: relative;
}
.pricing-heading {
    padding-bottom: 25px;
    border-bottom: 1px solid #648DFF;
    margin-bottom: 30px;
}

.pricing-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto 25px;
}

.pricing-heading h2 {
    font-weight: 600;
    color: #648DFF;
    font-size: 80px;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    padding: 0 30px;
}

.pricing-heading h2 sup {
    font-size: 42px;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 20px;
}

.pricing-heading p {
    color: #000;
}

.pricing-body ul {
    margin-bottom: 18px;
}

.pricing-body ul li {
    padding: 5px 0;
}

.pricing-body .box-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -26px;
    width: calc(100% - 90px);
    margin: 0 auto;
}
/*pricing end*/

/*testimonial start*/
.testimonial-carousel {
    margin-bottom: 60px;
}
.single-testimonial {
    padding: 15px;
    padding-top: 65px;
}
.testimonial-content {
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    color: #000;
}

.author-image {
    position: relative;
    margin-top: -90px;
    margin-bottom: 25px;
}

.author-name {
    font-size: 20px;
    font-weight: 600;
    color: #00144D;
    margin-top: 25px;
    margin-bottom: 3px;
}

.testimonial-carousel .owl-dots {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    vertical-align: middle;
}

.testimonial-carousel .owl-dots div {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #DBE5FF;
    border-radius: 50px;
    margin: 3px 10px;
    transition: all 0.3s ease-out;
}


.testimonial-carousel .owl-dots div.active {
    background: #648DFF;
    width: 24px;
    height: 24px;
    margin-top: 0;
    margin-bottom: 0;

}
/*testimonial end*/

/*partner start*/
.single-partner {
    text-align: center;
}
/*partner end*/

/*blog start*/
.single-news {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
    margin: 15px 0;
    background-color: #fff;
}

.news-content {
    padding: 25px;
}

.news-content h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 35px;
}

.news-thumb {
    border-radius: 30px;
    overflow: hidden;
}
/*blog end*/

/*contact start*/
.contact-form {
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    padding: 65px 90px;
}
.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #C1D2FE;
    border-radius: 5px;
    padding: 9px 15px;
    
}
.contact-form ::placeholder {
    color: #000;
}

.contact-form textarea {
    resize: none;
    min-height: 120px;
}
/*contact end*/

/*counter start*/
.counter-area {
    padding: 60px 0;
}
.single-counter {
    color: #000;
    text-transform: uppercase;
}
.single-counter h2 {
    font-size: 80px;
    font-weight: 600;
    color: #648DFF;
    margin-bottom: 0;
}
/*counter end*/

/*footer start*/










.footer-top {
    padding-top: 150px;
    padding-bottom: 80px;
    background-color: #648DFF;
    color: #fff;
}
.footer-widget.footer-about {
    position: relative;
    margin-top: -79px;
}
.footer-widget.footer-about img {
    margin-bottom: 20px;
}
.footer-widget h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}
.footer-widget strong,
.footer-widget a {
    color: #fff;
}
.footer-widget.quick-links a {
    display: block;
    color: #fff;
    padding: 4px 0;
}
.footer-widget.location p {
    margin-bottom: 0;
    padding: 4px 0;
    line-height: 33px;
}
.newsletter-form {
    position: relative;
}
.newsletter-form input {
    width: 100%;
    display: block;
    border-radius: 5px;
    border: 0;
    padding: 5px 15px;
}
.newsletter-form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border: 0;
    border: 1px solid #fff;
    background: #648DFF;
    border-radius: 5px;
    color: #fff;
}

.footer-bottom {
    color: #000;
    padding: 20px 0;
}
.footer-bottom a {
    color: #000;
}
/*footer end*/














/*body-preloader start*/
.body-loader-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 5;
}
.body-loader-wrap .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
}
.body-loader-wrap .preloader:after,
.body-loader-wrap .preloader:before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #648DFF;
    animation: preloader 1.6s linear infinite;
}
.body-loader-wrap .preloader:after {
    animation-delay: -.8s;
}
@keyframes preloader {
    0% {
        transform: scale(0, 0);
        opacity: 1;
        filter: alpha(opacity=50);
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
        filter: alpha(opacity=0)
    }
}
/*body-preloader end*/









